:root {
    --without-color: transparent;
    --font-profile-head: 'ShadowsIntoLight-Regular';
    --border-color-profile: #00cc99;
    --border-profile-name: white;
    --size-width-profile-name: 265px;
    --size-height-profile-name: 62px;
}

/* FONT */

@font-face {
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
    font-family: 'ShadowsIntoLight-Regular';
}

/* ANIMATIONS */

@keyframes circle-rotate-profile {
    0% {
        transform: rotate(0deg);
        border-color: var(--without-color);
    }
    
    15% {
        transform: rotate(80deg);
        border-left-color: var(--border-color-profile);
    }

    85% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
        border-color: var(--without-color);
    }
}

@keyframes border-typing-profile-name {
    from {
        width: 0;
    }

    to {
        width: var(--size-width-profile-name);
    }
}
@keyframes border-blink-profile-name {
    from {
        border-right-color: var(--without-color);
    }

    to {
        border-right-color: var(--border-profile-name);
    }
}


/* ELEMENTS OF BODY */
body {
    background-image: linear-gradient(to left, #97a8af, #0f2e3b);
}

/* HEAD */

img {
    position: relative;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    margin: 3% 0 0 2.7%;
}
.profile {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 5% 0 0 7%;
}
.profile .border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--without-color);
    border-radius: 50%;
    border: 6px dashed var(--without-color);
    border-left-color: #00cc99;

    animation: circle-rotate-profile 4s linear infinite;
}

.profile-name {
    font-family: var(--font-profile-head);
    font-size: 3em;
    color: white;
    position: absolute;
    top: 9%;
    left: 22%;
    width: var(--size-width-profile-name);
    height: var(--size-height-profile-name);
    border: 2px solid var(--without-color);
    border-right-color: var(--border-profile-name);
    overflow: hidden;
    white-space: nowrap;
    animation: border-blink-profile-name .8s ease-in infinite,  
               border-typing-profile-name 2.5s ease-out;
}


/* BOX */


/* MAIN CONTENT */